body{
    font-family: 'Merriweather', serif;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: grey;
    word-spacing: 3px;
}

.mission-section{
    display: flex;
}
.first-section{
    width: 40%;
    margin-left: 10%;
}
.first-section img{
    width:60%; 
}
.margin{
    margin-top: 5%;
}
.margin h2{
    font-size: 40px;
    font-weight: 700;
}
.heading {
    line-height: 35px;
    border-left: 5px solid rgba(245, 108, 67, 0.938);
    padding-left: 10px;
}
.colour-head{
    color: #f07f23;
}
.first-button{
 text-decoration: none;
 background: rgb(247, 113, 60);
 color: #fff;
 padding: 10px 40px;
 border-radius: 5px;
}
.mission-paragraph{
    margin-bottom: 30px;
}
.year{
    color: #f07f23;
}
.my-mission{
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
    margin-bottom: 50px;
}
.card-section{
display: flex;
margin: 0 8%;

}
.one-third{
width: 30%;
margin: 0 2%;
padding: 35px;
border-radius: 10%;
}
.one-third p{
line-height: 20px;
color: #000;
}
.img{
width: 35%;
}
.first{
background-color: rgb(217, 245, 246);
}
.second{
background-color: #f1c394;
}
.third{
background-color: #f1f8bb;
}
.coding-section{
width: 45%;
margin-top: 10%;
}
.code-heading{
padding-right: 5%;
font-size: 20px;
font-weight: 900;
}
.coding-section img{
width:60%;
padding-left: 30%;
}