body{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
p {
    font-family: 'Play', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: grey;
    word-spacing: 3px;
}

.mission-section{
    display: flex;
}
.first-section{
    width: 40%;
    margin-left: 10%;
}
.first-section img{
    width:60%; 
}
.margin{
    margin-top: 5%;
}
.margin h2{
    font-size: 40px;
    font-weight: 700;
}
.heading {
    line-height: 35px;
    border-left: 5px solid rgba(245, 108, 67, 0.938);
    padding-left: 10px;
}
.colour-head{
    color: #f07f23;
}
.first-button{
 text-decoration: none;
 background: rgb(247, 113, 60);
 color: #fff;
 padding: 10px 40px;
 border-radius: 5px;
}
.mission-paragraph{
    margin-bottom: 30px;
}
.year{
    color: #f07f23;
}
.my-mission{
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
    margin-bottom: 50px;
}
.card-section{
display: flex;
margin: 0 8%;

}
.one-third{
width: 30%;
margin: 0 2%;
padding: 35px;
border-radius: 10%;
}
.one-third p{
line-height: 20px;
color: #000;
}
.img{
width: 35%;
}
.first{
background-color: rgb(217, 245, 246);
}
.second{
background-color: #f1c394;
}
.third{
background-color: #f1f8bb;
}
.coding-section{
width: 45%;
margin-top: 10%;
}
.code-heading{
padding-right: 5%;
font-size: 20px;
font-weight: 900;
}
.coding-section img{
width:60%;
padding-left: 30%;
}
.global-section{
    width: 45%;
    margin: 0 auto;
    padding-left: 10%;
    padding-top: 5%;
}
.global-section img{
width:70%;
}
.global-heading{
    font-size: 20px;
    font-weight: 900;
}
.second-button{
    text-decoration: none;
    background: rgb(248, 46, 5);
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
   }
   .img2{
    width: 100%;
    }
    .border{
        box-shadow: 2px 5px 40px grey;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10%;
    }
footer{
    background: #000;
    color: white;
    padding: 20px;
    text-align: center;
}
footer h3{
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.footer{
    color: rgb(245, 75, 75);
}
footer p{
    font-size: 12px;
}
